/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/uploads/**/*.jpg
public/uploads/**/*.png
public/uploads/**/*.gif
public/uploads/**/*.jpeg
public/uploads/**/*.mp3
node_modules
.Gruntfile.js