body {
	/*background-image: url('../img/bg.jpg');*/
	background: #337ab7;
	/*background-color: #000;*/
	/*font-size: 14px;*/
}

#wrapper {
	max-width: 768px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 6px;
	background-color: #fff;
}

#footer {
	padding-top: 1.2em;
}

.padding1 {
	padding-top: 1.3em;
	padding-bottom: 1.3em;
}

.padding1em {
	padding: 1em;
}

.bg-black {
	background-color: #000;
	color: #fff;
}

.bg-white {
	background-color: #fff;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.img-bordered {
	box-shadow: 0px 0px 10px #000;
}

.img-centered {
	margin: auto;
}

a.navbar-brand {
	padding-top: 0;
	padding-bottom: 0
}

.table>thead>tr>th,
.table>tfoot>tr>th {
	text-align: center;
	vertical-align: middle;
}

.table>tbody>tr>td {
	vertical-align: middle;
	text-align: center;
}

.noTextCenter.table>tbody>tr>td {
	text-align: left;
}

.strong {
	font-weight: bold;
}

.noMarginTopBottom {
	margin-top: 0;
	margin-bottom: 0;
}

.ui360,
.sm2-360ui {
  	margin: auto;
}

#sidebar {
}

#sidebar>h3,
#sidebar>h4 {
	text-decoration: underline;
}

.noPadding4 {
	padding: 0;
}

/*@media screen and ( min-width: 767px ) {
	.pos-relative {
	position: relative;
	}

	.maxHeight228 {
		max-height: 230px;
		overflow: hidden;
	}

	.maxHeight228:hover {
		max-height: none;
		position: absolute;
		z-index: 50;
		overflow: none;
		margin-right: 0;
		width: 157.5px;
	}
}*/

@media screen and ( max-width: 484px ) {
	.hidden-484 {
		display: none;
	}
}

#vote-btn > button:focus {
	outline: none;
}

.vote-num {
	font-size: .75em
}

.mainSearchForm input,
.mainSearchForm button {
	height: 50px;
	font-weight: bold;
}

.mainSearchForm input {
	font-size: 1.5em;
}

.btn {
	text-shadow: 1px 1px 2px #000;
}

.mTop6 {
	margin-top: 10px;
	margin-bottom: 5px;
}

img {
	max-width: 100%;
}

.box-shadow {
	box-shadow: 0px 0px 5px rgb(0, 0, 0);
	margin-bottom: 15px;
}

ul.navbar-nav,
ul.navbar-nav li ul li a {
	font-weight: bold;
}

a:focus {
	outline: none;
}

@media screen and (min-width: 767px) {
	img.small-square {
		min-height: 104.167px;
	}

	.box-shadow {
		height: 104.167px;
		overflow: hidden;
	}

	.mTop6 {
		margin-top: 2px;
	}

	.logo-mizik {
		display: none !important;
	}
}

.transparent {
	background-color: transparent;
}

img.logo-mizik {
	height: 50px;
}

#page-content {
	font-size: 16px;
}

.hide {
	display: none;
}

#progress,
.hide-panel {
	display: none;
}
.progress {
	height: 35px;
}

.progress-bar {
	font-size: 18px;
    font-weight: bold;
    line-height: 35px;
}

.color-black {
	color: #000000;
}
/*.audio-content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  width: 1200px;
  height: 800px;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.audio-content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}*/

.audio-image {
	background-size: cover;
	/*display: block;*/
	/*filter: blur(2px);*/
	/*-webkit-filter: blur(2px);*/
	/*height: 800px;*/
	left: 0;
	/*position: fixed;*/
	right: 0;
	z-index: 1;
	/*opacity: .3;*/
}

.audio-content {
	opacity: 1;
	filter: blur(0);
	-webkit-filter: blur(0);
}